# .gitignore

.env
setup-kubectl.sh
kubernetesAdminConfigB64.json
decoded_config.yaml

secrets.yaml

securitate.yaml
s3s.yaml

*.pem
certif/*
*.crt
*.key
/certif/*

# Используем jq для извлечения и декодирования
# cat kubernetesAdminConfigB64.json | jq -r '.kubernetesAdminConfigB64' | base64 -d > ~/.kube/config